<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
         
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.conectahogar.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PanelClienteServlet</servlet-name>
        <servlet-class>com.mycompany.conectahogar.controller.PanelClienteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PanelClienteServlet</servlet-name>
        <url-pattern>/panelCliente</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PanelTecnicoServlet</servlet-name>
        <servlet-class>com.mycompany.conectahogar.controller.PanelTecnicoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PanelTecnicoServlet</servlet-name>
        <url-pattern>/panelTecnico</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.mycompany.conectahogar.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>AceptarSolicitudServlet</servlet-name>
        <servlet-class>com.mycompany.conectahogar.controller.AceptarSolicitudServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AceptarSolicitudServlet</servlet-name>
        <url-pattern>/aceptarSolicitud</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContraofertaServlet</servlet-name>
        <servlet-class>com.mycompany.conectahogar.controller.ContraofertaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContraofertaServlet</servlet-name>
        <url-pattern>/contraoferta</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AceptarContraofertaServlet</servlet-name>
        <servlet-class>com.mycompany.conectahogar.controller.AceptarContraofertaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AceptarContraofertaServlet</servlet-name>
        <url-pattern>/aceptarContraoferta</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RechazarContraofertaServlet</servlet-name>
        <servlet-class>com.mycompany.conectahogar.controller.RechazarContraofertaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RechazarContraofertaServlet</servlet-name>
        <url-pattern>/rechazarContraoferta</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.mycompany.conectahogar.filter.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>PerformanceFilter</filter-name>
        <filter-class>com.mycompany.conectahogar.filter.PerformanceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PerformanceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
